:root {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  transition: 0.25s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --theme-color-1-m15: hsl(258, 74%, 30%);
  --theme-color-1-m5: hsl(258, 74%, 40%);
  --theme-color-1: #511ec8;
  --theme-color-1-p5: hsl(258, 74%, 50%);
  --theme-color-1-p10: hsl(258, 74%, 55%);
  --theme-color-1-p15: hsl(258, 74%, 60%);
  --theme-color-1-p30: hsl(258, 74%, 75%);
  --theme-color-1-p40: hsl(258, 74%, 85%);
  --theme-color-2-m5: hsl(266, 32%, 7%);
  --theme-color-2: hsl(268, 21%, 12%);
  --theme-color-2-p5: hsl(268, 21%, 17%);
  --theme-color-2-p10: hsl(268, 21%, 22%);
  --theme-color-2-p20: hsl(268, 21%, 32%);
  --theme-color-2-p40: hsl(268, 21%, 52%);
  --theme-color-3-m15: hsl(293, 100%, 83%);
  --theme-color-3-m5: hsl(293, 100%, 93%);
  --theme-color-3: hsl(293, 100%, 98%);
  --success-background: #c0e1b8;
  --sucess-color: #1e720a;
  --error: ;
  --placeholder: hsl(0, 0%, 50%);

  color: var(--theme-color-2);
  background-color: var(--theme-color-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--theme-color-3);
    background-color: var(--theme-color-2);
  }
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  caret-color: var(--theme-color-3);
  -webkit-background-clip: var(--theme-color-2);
  -webkit-text-fill-color: var(--theme-color-3);
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: var(--placeholder);
  opacity: 1;
}

#page {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme-color-1);
  border: 2px solid var(--theme-color-3);
  border-radius: 100vw;
}
